[init]
	defaultBranch = main
[user]
	name = {{ .name }}
	email = {{ .email }}
[push]
	autoSetupRemote = true
[core]
	editor = nvim -f
[alias]
  acp = "! acp() { git add . && git commit -am \"$1\" && git push ; } ; acp"
  acnvp = "! acnvp() { git add . && git commit --no-verify -am \"$1\" && git push ; } ; acnvp"
[submodule]
	recurse = true
